<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurs Vue.js - Przykład 30</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre.min.css">
    <style>
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container grid-lg">

        <div id="app" v-cloak>

            <h1>Użytkownicy</h1>

            <form action="#" class="form-horizontal" @submit.prevent="submit">
                <div class="form-group">
                    <div class="col-1">
                        <label class="form-label">Filtruj</label>
                    </div>
                    <div class="col-3">
                        <input class="form-input" type="text" placeholder="Nazwisko" v-model="query">
                    </div>
                </div>
            </form>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Imię i nazwisko</th>
                        <th>Data urodzenia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, index) in filtered">
                        <td>{{ index + 1 }}.</td>
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.age }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            users: [
                {firstName: "Jan", lastName: "Kowalski", age: 32},
                {firstName: "Anna", lastName: "Nowak", age: 27},
                {firstName: "Tomasz", lastName: "Zielony", age: 40},
                {firstName: "Katarzyna", lastName: "Tomczyk", age: 34},
                {firstName: "Mariusz", lastName: "Klasa", age: 21}
            ],
            query: ''
        },
        computed: {
            filtered: function() {
                return this.users.filter(user => user.lastName.toLowerCase().includes(this.query))
            }
        },
    });

</script>
</body>
</html>